# Core scientific libs
torch
torchaudio
torchvision
numpy
scipy
matplotlib
tqdm

# Speech-related
speechbrain==1.0.3
soundfile
sentencepiece

# Logging / tracking
wandb

# Config / utils
PyYAML
HyperPyYAML